@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0.18 0.0067 17.8);
  --color-base-200: oklch(40% 0.123 38.172);
  --color-base-300: oklch(0.28 0.0067 17.8);
  --color-base-content: oklch(98% 0.002 247.839);
  --color-primary: oklch(0.47 0.1929 29);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(0.63 0.2577 29.23);
  --color-secondary-content: oklch(98% 0.018 155.826);
  --color-accent: oklch(0.38 0 0);
  --color-accent-content: oklch(98% 0.031 120.757);
  --color-neutral: oklch(0.98 0.0079 73.75);
  --color-neutral-content: oklch(13% 0.028 261.692);
  --color-info: oklch(58% 0.18 240);
  --color-info-content: oklch(97% 0.013 240);
  --color-success: oklch(58% 0.18 150);
  --color-success-content: oklch(97% 0.013 150);
  --color-warning: oklch(58% 0.18 70);
  --color-warning-content: oklch(97% 0.013 70);
  --color-error: oklch(58% 0.18 15);
  --color-error-content: oklch(97% 0.013 15);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@import "swiper/css" layer(utilities); /* Import core Swiper styles */
@import "swiper/css/navigation" layer(utilities);

@theme {
  --font-bebas_neue: "var(--font-bebas_neue)";
  --font-raleway: "var(--font-raleway)";
  --font-raleway_italic: "var(--font-raleway_italic)";
  --font-sans_caption: "var(--font-sans_caption)";
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

dialog.modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}


@layer utilities {
  /* Import Swiper Navigation module styles */

  .card:hover > .card-overlay {
    transform: translateY(0%);
  }

  .header-icon {
    transition: all 300ms ease-in-out;
  }

  .navigate-button {
    transition: all 300ms ease-in-out;
  }

  .list-wrapper:hover > .navigate-wrapper > .navigate-button {
    opacity: 100%;
    z-index: 10;
  }

  .tab:is(.tab-active, [aria-selected="true"]):not(.tab-disabled):not(
      [disabled]
    ),
  .tab:is(input:checked) {
    border-color: #af0404;
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
  }

  .tabs-bordered > .tab {
    border-color: var(
      --fallback-bc,
      oklch(var(--bc) / var(--tw-border-opacity))
    );
    --tw-border-opacity: 0;
    border-style: solid;
    border-bottom-width: calc(var(--tab-border, 1px) + 1px);
  }

  .navigate-button:hover {
    @apply opacity-70;
  }
}

@layer base {
  html,
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-family: var(--font-bebas_neue), sans-serif;
  }
}
